---
title: Members
subtitle: Council Members
layout: defaultwithbanner
sidenav: false
permalink: /council-members/
---

<h2>Who is on the Council?</h2>
<div class="usa-summary-box tablet:grid-col-8" role="region" aria-labelledby="summary-box-key-information">
    <div class="usa-summary-box__body">
        <h3 id="summary-box-key-information" style="margin-top: 1px;">The CDO Council is comprised of:</h3>
        <div class="usa-summary-box__text">
            <ul class="usa-list">
                <li>The Chief Data Officer of each <a href="#agency-defination">agency*</a></li>
                <li>Administrator, Office of eGovernment (or designee) </li>
                <li>Administrator, Office of Information and Regulatory Affairs (or designee)</li>
                <li>Ex officio members</li>
            </ul>
        </div>
    </div>
</div>
{% include members.html %}

{% include omb_members.html %}

{% include exofficio_members.html %}

<a id="agency-defination"> </a>
*The CDO Council definition of “Agency” comes from 44 USC 3502.  Under the definitions in that section the term Agency means:(1)the term “agency” means any executive department, military department, Government corporation, Government controlled corporation, or other establishment in the executive branch of the Government (including the Executive Office of the President), or any independent regulatory agency, but does not include—


<ol class="ol-upperCase">
  <li>the Government Accountability Office;</li>
  <li>Federal Election Commission;</li>
  <li>the governments of the District of Columbia and of the territories and possessions of the United States, and their various subdivisions; or</li>
  <li>Government-owned contractor-operated facilities, including laboratories engaged in national defense research and production activities</li>
</ol>
