
<section class="carousel-container">
    <div class="carousel" id="carousel-1" auto-scroll="8000">
        <section class="carousel-screen usa-graphic-list padding-y-4 abstract-background">
            <div class="grid-container">
                <div class="grid-gap-banner">
                        <div class="usa-hero__callout carousel-content-box wide-content-box">
                            <h1 class="usa-hero__heading"><span class="font-ui-lg text-normal text-primary-darker text-bold">Welcome to CDO.gov</span>
                            </h1>
                            <p class="text-gray-70 font-sans-md text-bold">"Data is life and the foundation of every function of government. I am profoundly committed to the idea that our role as a Council presents a unique opportunity for meaningful and transformative work." <br>- Kirsten Dalboe, Chair </p>
                            <a class="usa-button usa-button--hover carousel-button"  aria-label="Read more About Us"href="{{ site.baseurl }}/about-us/">Read More</a>
                        </div>
                </div>
            </div>
        </section>
        <section class="carousel-screen usa-graphic-list padding-y-4 abstract-background-review-2024">
            <div class="grid-container">
                <div class="grid-gap-banner">
                        <div class="usa-hero__callout carousel-content-box">
                            <h1 class="usa-hero__heading"><span class="font-ui-lg text-normal text-primary-darker text-bold">CDOC 2024 Review</span>
                            </h1>
                            <p class="text-gray-70 font-sans-md text-bold">As 2024 comes to a close, we reflect on the CDO Council’s accomplishments and look ahead to the opportunities of the new year. Read the 2024 Year in Review message from our Chair, Kirsten Dalboe.</p>
                            <a class="usa-button usa-button--hover carousel-button"  aria-label="Read more the CDOC 2024 Review"href="{{ site.baseurl }}/cdo-council-2024-review/">Read More</a>
                        </div>
                </div>
            </div>
        </section>
        <section class="carousel-screen usa-graphic-list padding-y-4 abstract-background-federal-data-trust">
            <div class="grid-container">
                <div class="grid-gap-banner">
                    <div class="usa-hero__callout carousel-content-box">
                        <h2 class="usa-hero__heading"><span class="font-ui-lg text-normal text-primary-darker text-bold">Federal Zero Trust Data Security Guide </span>
                        </h2>
                        <p class="text-gray-70 font-sans-md text-bold">The CDO Council and CISO Council released a groundbreaking Federal Zero Trust Data Security Guide, offering a vital framework to help operationalize data security in complex cyber landscapes.</p>
                        <a class="usa-button usa-button--hover carousel-button" aria-label="Read more about the Federal Zero Trust Data Security Guide" href="{{ site.baseurl }}/federal-zero-trust-data-security-guide/" target="_blank">Find Out More</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="carousel-screen usa-graphic-list padding-y-4 abstract-background-cdoc-symposium">
            <div class="grid-container">
                <div class="grid-gap-banner">
                    <div class="usa-hero__callout wide-content-box carousel-content-box">
                        <h2 class="usa-hero__heading"><span class="font-ui-lg text-normal text-primary-darker text-bold">2024 CDOC Symposium</span>
                        </h2>
                        <p class="text-gray-70 font-sans-md text-bold">The CDO Council’s inaugural symposium marked a significant milestone, highlighting data’s vital role as a strategic enabler in modernizing agency missions and enhancing capabilities, while fostering collaboration for effective federal program delivery.
                        </p>
                        <a class="usa-button usa-button--hover carousel-button" aria-label="Read more about the 2024 CDOC Symposium" href="{{ site.baseurl }}/cdo-council-hosts-first-ever-symposium/" target="_blank">Find Out More</a>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="carousel-screen usa-graphic-list padding-y-4 abstract-background-fairness-project">
            <div class="grid-container">
                <div class="grid-gap-banner">
                    <div class="usa-hero__callout carousel-content-box">
                        <h2 class="usa-hero__heading"><span class="font-ui-lg text-normal text-primary-darker text-bold">Completion of the FAIRness Project</span>
                        </h2>
                        <p class="text-gray-70 font-sans-md text-bold">This cross-governmental project aims to modernize the federal data catalog and enhance the government’s ability to manage and share data transparently and reliably in alignment with the FAIRness standards.</p>
                        <a class="usa-button usa-button--hover carousel-button" aria-label="Read more about the FAIRness Project" href="{{ site.baseurl }}/fairness-project/">Find Out More</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="circle-container">
            <div class="circle" aria-label="slide 1" tabindex=0></div>
            <div class="circle" aria-label="slide 2" tabindex=0></div>
            <div class="circle" aria-label="slide 3" tabindex=0></div>
            <div class="circle" aria-label="slide 4" tabindex=0></div>
            <div class="circle" aria-label="slide 5" tabindex=0></div>
        </section>
        <div class="left-arrow">
            <span class="chevron left" aria-label="Previous slide" tabindex=0></span>
        </div>
        <div class="right-arrow">
            <span class="chevron right" aria-label="Next slide"  tabindex=0></span>
        </div>
    </div>
</section>

