{% comment %}
This banner will be displayed on the homepage. It can be used to advertise upcoming events or notable policy releases. It will not be displayed all the time
{% endcomment %}

<section class="usa-graphic-list padding-y-3 abstract-background">
    <div class="grid-container">
        <div class="grid-row grid-gap">
            <div class="tablet:grid">
                <span class="text-white font-serif-xl margin-top-0 margin-bottom-0 text-bold">Welcome to CDO.gov</span>
                <p class="text-white font-sans-lg text-normal">"I believe deeply that we as Federal CDOs have an opportunity to engage in work that is meaningful and transformative through the foundational steps outlined in the Federal Data Strategy..." -Ted Kaouk, Chair </p>
                <a class="usa-button usa-button--outline border-0 bg-white" href="{{site.baseurl}}/about-us/" title="Learn more about CDO.gov">Read More</a>
            </div>
        </div>
    </div>
</section>