
    <section class="carousel-container">
        <div class="carousel" id="carousel-1" auto-scroll="8000">
            <section class="carousel-screen usa-graphic-list padding-y-4 abstract-background">
                <div class="grid-container">
                    <div class="grid-gap-banner">
                            <div class="usa-hero__callout " style="background: #cfe8ff; border-radius: 0.5rem; opacity: 0.9; margin-top: 10px; box-shadow: 0 1rem 2rem 0 rgb(0 0 0 / 40%); max-width: 20rem;">
                                <h1 class="usa-hero__heading"><span class="font-ui-lg text-normal text-primary-darker text-bold">Welcome to CDO.gov</span>
                                </h1>
                                <p class="text-gray-70 font-sans-md text-bold">"We as Federal CDOs have an opportunity to engage in work that is meaningful and transformative through the foundational steps outlined in the Federal Data Strategy..." -Ted Kaouk, Chair </p>
                                <a class="usa-button usa-button--hover carousel-button"  aria-label="Read more About Us"href="https://www.cdo.gov/about-us/">Read More</a>
                            </div>
                    </div>
                </div>
            </section>

            <section class="carousel-screen usa-graphic-list padding-y-4 abstract-background4">
                <div class="grid-container">
                    <div class="grid-gap-banner">
                            <div class="usa-hero__callout " style="background: #cfe8ff; border-radius: 0.5rem; opacity: 0.9; margin-top: 10px; box-shadow: 0 1rem 2rem 0 rgb(0 0 0 / 40%); max-width: 20rem;">
                                <h1 class="usa-hero__heading"><span class="font-ui-lg text-normal text-primary-darker text-bold">NEW CDO Council Awards Program</span>
                                </h1>
                                <p class="text-gray-70 font-sans-md text-bold">Do you know someone who is doing great work with Federal Data? Nominate them for a CDO Council award! </p>
                                <a class="usa-button usa-button--hover carousel-button"  aria-label="Read more About Us"href="{{ site.baseurl }}/awards-program">Read More</a>
                            </div>
                    </div>
                </div>
            </section>
            
            <section class="carousel-screen usa-graphic-list padding-y-4 abstract-background2">
                <div class="grid-container">
                    <div class="grid-gap-banner">
                        <div class="usa-hero__callout " style="background: #cfe8ff; border-radius: 0.5rem; opacity: 0.9; margin-top: 30px; box-shadow: 0 1rem 2rem 0 rgb(0 0 0 / 40%); max-width: 20rem;">
                            <h2 class="usa-hero__heading"><span class="font-ui-lg text-normal text-primary-darker text-bold">CDO Podcast</span>
                            </h2>
                            <p class="text-gray-70 font-sans-md text-bold">The Council has launched a Podcast titled "Unstructured Data".</p>
                            <a class="usa-button usa-button--hover carousel-button" aria-label="Read more CDO Podcast" href="https://www.cdo.gov/news/podcast-and-social-channel/">Find out More</a>
                        </div>
                    </div>
                </div>
            </section>

            <section class="circle-container">
                <div class="circle" aria-label="slide 1" tabindex=0></div>
                <div class="circle" aria-label="slide 2" tabindex=0></div>
                <div class="circle" aria-label="slide 3" tabindex=0></div>
            </section>
            <div class="left-arrow">
                <span class="chevron left" aria-label="Previous slide" tabindex=0></span>
            </div>
            <div class="right-arrow">
                <span class="chevron right" aria-label="Next slide"  tabindex=0></span>
            </div>
        </div>
    </section>

