<section class="usa-graphic_list usa-section usa-prose clearfix padding-y-5" style="background-color: #E7F6F8;">

    <div class="clearfix grid-container">
        <div class="shadow-5 radius-lg bg-white padding-x-10">
            <div class="grid-row">
                <h2 class="text-primary-darker header-center">What is a Chef Data Offer</h2>
                <div class="margin-bottom-5">Lorem ipsum dolor. sit amet, consectetur adipiscing elit. Cras vitae leo ullamcorper, porta libero vitae, pharetra tortor. Ut porttitor, mauris non semper sodales, lorem nibh posuere arcu, non mollis arcu enim vitae tellus. Etiam euismod feugiat dignissim. Vivamus vel tellus felis. Suspendisse id nisi eget ex condimentum malesuada. Suspendisse suscipit dictum dui nec convallis. Aliquam commodo eu leo consequat porta. Donec eget rutrum odio, eget pulvinar libero. Aenean nec rutrum elit. Donec lobortis lectus scelerisque, dapibus massa vel, eleifend dui. Morbi nec elit mollis, rutrum enim in, scelerisque nulla.
                </div>
                <a href="{{ site.baseurl }}/council-members/" class="usa-button usa-button--outline border-0 bg-white margin-bottom-5 margin-left-auto margin-right-auto">View all Agency CDOs</a>
            </div>
        </div>
    </div>
</section>