<section class="usa-graphic_list usa-section usa-prose clearfix padding-y-5">

    <div class="clearfix grid-container">
        <div class="shadow-5 radius-lg bg-white padding-x-10">
            <div class="grid-row">
                <h2 class="text-primary-darker header-center">What is a Chief Data Officer</h2>
                <div class="margin-bottom-5">A Chief Data Officer (CDO) oversees and is responsible for data governance and data management activities in their agency. The CDO is the chair of the agency’s data governance board, leading and coordinating data usage, management, access and protection to internal and external communities, while encouraging agency-wide data collaboration with agency leaders. Finally, the CDO ensures the agency maximizes the way it uses data and also ensures data management best practices are being used.
                </div>
                <a href="{{ site.baseurl }}/council-members/" class="usa-button usa-button--outline border-0 bg-white margin-bottom-5 margin-left-auto margin-right-auto">View all Agency CDOs</a>
            </div>
        </div>
    </div>
</section>