<section class="usa-graphic_list usa-section usa-prose clearfix padding-y-5">

    <div class="clearfix grid-container">
        <div class="shadow-5 radius-lg bg-white padding-x-10">
            <div class="grid-row">
                <h2 class="text-primary-darker header-center">What is a Chief Data Officer</h2>
                <div class="margin-bottom-5">
                    <p>While there are many roles in the Federal Government that relate to data management, Chief Data Officers (CDOs) have emerged to lead organizational development of processes to leverage the power of data. CDOs enable data driven decision-making in a variety of ways, from providing and leveraging centralized agency analytics capacity to creating tools and platforms that enable self-service across their agencies and for the public. CDOs serve in a central leadership position, with visibility into relevant agency operations, and are positioned highly enough to regularly engage with other agency leadership,including the head of the agency.</p>
                </div>
                <div class="display-inline tablet:margin-x-auto text-center">
                    <a href="{{ site.baseurl }}/about-agency-cdos/" class="usa-button usa-button--outline border-0 bg-white margin-bottom-5 tablet:margin-x-4">Learn more about Agency CDOs</a>

                    <a href="{{ site.baseurl }}/council-members/" class="usa-button usa-button--outline border-0 bg-white margin-bottom-5 tablet:margin-x-4">View all Agency CDOs</a>
                </div>
            </div>
        </div>
    </div>
</section>