<!-- *****LOOP FOR Executive Members Section on Leadership Page *********-->
<h2 class="section__title padding-top-1 margin-top-5">Executive Committee Membership</h2>
<div class="grid-container font-sans-sm padding-left-0 padding-right-0 container__leadership">
    <section class="usa-graphic-list padding-top-0">
        <div class="grid-containe padding-left-0 padding-right-0">
            <div class="usa-graphic-list__row grid-row grid-gap padding-top-0">
                {% for bio in site.exec-members %}
                <div class="tablet:grid-col-6 container margin-bottom-4" tabindex="0">
                    <div class="clearfix shadow-5 radius-lg bg-white padding-2">
                        <div>
                            <div class="left">
                                <img src="{{ site.baseurl }}/assets/images/members/{{ bio.bio-image }}" alt="{{bio.bio-image-alt-text }} portrait">
                            </div>
                            <div class="right padding-1">
                                <span class="name">{{ bio.name }}<br></span>
                                <span class="role">{{ bio.role }}</span>
                                <span class="title">{{ bio.job-title }}, {{ bio.department }}</span>
                                <span style="font-size: 13px; color: #1155cc;">Read more about <a style="font-size: 13px; color: #1155cc;" class="height-full" href="{{ site.baseurl }}{{ bio.permalink }}">{{ bio.name }}</a></span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</div>