<!-- *****LOOP FOR Executive Members Section on Leadership Page *********-->
<div class="grid-container font-sans-sm">
    <section class="usa-graphic-list padding-top-0" >
        <div class="grid-container padding-0">
            <div class="usa-graphic-list__row grid-row grid-gap padding-top-0">
                {% for bio in site.exec-members %}
                <div class="tablet:grid-col-4 container" style="padding:10px;">
                    <a style="color:black;text-decoration: none; display: block;" class="height-full" href="{{ site.baseurl }}{{ bio.permalink }}">
                        <div class="left">
                            <img src="{{ site.baseurl }}/assets/images/members/{{ bio.bio-image }}" alt="{{bio.bio-image-alt-text }} portrait">
                        </div>
                        <div class="right padding-1">
                            <span class="name">{{ bio.name }}<br></span>
                                <span class="title">{{ bio.title }}, {{ bio.department }}</span>
                                <span class="role">{{ bio.role }}</span>
                        </div>
                    </a>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>

</div>