<footer class="usa-footer usa-footer--big">
  <div class="usa-footer__primary-section">

    <nav class="usa-footer__nav" aria-label="Footer navigation">
      <div class="grid-container">
        <div  class="grid-row grid-gap">
          <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">
            <h4 class="usa-footer__primary-link">Related Councils</h4>
            <ul class="usa-list usa-list--unstyled footerLinksFourColumns">
              <li class="usa-footer__secondary-link"><a href="javascript:void(0);">Chief Acquisition Officers
                  Council</a></li>
              <li class="usa-footer__secondary-link"><a href="javascript:void(0);">Chief Human Capital Officers
                  Council</a></li>
              <li class="usa-footer__secondary-link"><a href="javascript:void(0);">Chief Information Officers
                  Council</a></li>
              <li class="usa-footer__secondary-link"><a href="javascript:void(0);">Chief Financial Officers Council</a>
              </li>
              <li class="usa-footer__secondary-link"><a href="javascript:void(0);">Chief FOIA Officers Council</a></li>
              <li class="usa-footer__secondary-link"><a href="javascript:void(0);">Evaluation Officers Council</a></li>
              <li class="usa-footer__secondary-link"><a href="javascript:void(0);">Federal Privacy Council</a></li>
              <li class="usa-footer__secondary-link"><a href="javascript:void(0);">Federal Real Property Council</a>
              </li>
              <li class="usa-footer__secondary-link"><a href="javascript:void(0);">Interagency Council on Statistical
                  Practice</a></li>
              <li class="usa-footer__secondary-link"><a href="javascript:void(0);">Performance Improvement Council</a>
              </li>
              <li class="usa-footer__secondary-link"><a href="javascript:void(0);">President's Management Council</a>
              </li>
              <li class="usa-footer__secondary-link"><a href="javascript:void(0);">Program Management Policy Council</a>
              </li>
              <li class="usa-footer__secondary-link"><a href="javascript:void(0);">Small Agency Council</a></li>
            </ul>
          </section>
        </div>

      </div>
    </nav>

  </div>
  <div class="usa-footer__secondary-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="usa-footer__logo grid-row mobile-lg:grid-col-4">
          <div class="mobile-lg:grid-col-auto">
            <img class="usa-footer__logo-img" src="/assets/img/logo-img.png" alt="General Service Administration Logo">
          </div>
          <div class="mobile-lg:grid-col-auto">
            <h3 class="usa-footer__logo-heading">General Service Administration</h3>
          </div>
        </div>

        <div class="usa-footer__logo grid-row mobile-lg:grid-col-4 mobile-lg:grid-gap-2">
          <div class="mobile-lg:grid-col-auto">
            <img class="usa-footer__logo-img" src="/assets/img/logo-img.png" alt="Office of Management and Budget Logo">
          </div>
          <div class="mobile-lg:grid-col-auto">
            <h3 class="usa-footer__logo-heading">Office of Management and Budget</h3>
          </div>
        </div>
        <div class="usa-footer__contact-links mobile-lg:grid-col-2">

          <h3 class="usa-footer__contact-heading">Contact Us</h3>
          <address class="usa-footer__address">
            <div class="usa-footer__contact-info grid-row grid-gap">

              <div class="grid-col-auto">
                <a href="mailto:cdocstaff@gsa.gov">cdocstaff@gsa.gov</a>
              </div>
            </div>
          </address>
        </div>
      </div>
    </div>
  </div>
</footer>