<footer class="usa-footer usa-footer--big">
  <div class="grid-container margin-top-2 margin-bottom-2">
    {% if page.title == "Home" %}
    <div class="border-top-1px border-base-light margin-bottom-2"></div>
    {% endif %}
    <div class="grid-row flex-align-start flex-justify">
      <button type="button" class="usa-button usa-button--outline border-0" id="toTopBtn" title="Go to top">Return to top</button>
      {% if page.title == "Home" %}
      <div class="grid-row vaccine-container">
        <div class="vaccine-card">
          <p class="vaccine-card-content">COVID-19<br>Vaccination</p>
        </div>
        <iframe src="https://www.cdc.gov/coronavirus/2019-ncov/vaccines/vaccine-finder-widget.html" scrolling="no" height="230" frameborder="0" width="280" frameborder="0" title="Vaccine Finder Widget" style="overflow: hidden;"> <!– Vaccine Finder Widget !–> </iframe> 
      </div>
      {% endif %}
    </div>
  </div>
  
  <div class="usa-footer__primary-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <nav class="usa-footer__nav " aria-label="Footer navigation">

          <div class=" mobile-lg:grid-col-12">
            <section class=" usa-footer__primary-content usa-footer__primary-content--collapsible">
            <h4 class="usa-footer__primary-link">Related Councils</h4>
            <ul class="usa-list usa-list--unstyled footerLinksFourColumns">
              <li class="cdo_custom_footer_links"><a href="https://www.acquisition.gov/cao-home">
                  <abbr title="Chief Acquisition Officers">CAO</abbr>
                  Council</a></li>
              <li class="cdo_custom_footer_links"><a href="https://www.chcoc.gov/">
                  <abbr title="Chief Human Capital Officers">CHCO</abbr>
                  Council</a></li>
              <li class="cdo_custom_footer_links"><a href="https://www.cio.gov/">
                  <abbr title="Chief Information Officers">CIO</abbr>
                  Council</a></li>
              <li class="cdo_custom_footer_links"><a href="https://www.cfo.gov/">
                  <abbr title="Chief Financial Officers">CFO</abbr>
                  Council</a>
              </li>
              <li class="cdo_custom_footer_links"><a
                  href="https://www.justice.gov/oip/chief-foia-officers-council">Chief <abbr title="Freedom of Information Act">FOIA</abbr> Officers Council</a></li>
              <li class="cdo_custom_footer_links"><a href="https://www.evaluation.gov/">Evaluation Officer Council</a>
              </li>
              <li class="cdo_custom_footer_links"><a href="https://www.fpc.gov/">Federal Privacy Council</a></li>
              <li class="cdo_custom_footer_links"><a
                  href="https://www.gsa.gov/policy-regulations/policy/real-property-policy/asset-management/federal-real-property-council-frpc">Federal
                  Real Property Council</a>
              </li>
              <li class="cdo_custom_footer_links">Federal Committee on Statistical Methodology [website pending]</li>
              <li class="cdo_custom_footer_links">Interagency Council on Statistical Policy [website pending]</li>
              <li class="cdo_custom_footer_links"><a href="https://www.performance.gov/pic/">Performance Improvement
                  Council</a>
              </li>
              <li class="cdo_custom_footer_links"><a
                  href="https://www.gsa.gov/governmentwide-initiatives/shared-solutions-and-performance-improvement/presidents-management-council-pmc">President's
                  Management Council</a>
              </li>
              <li class="cdo_custom_footer_links"><a
                  href="https://www.gsa.gov/governmentwide-initiatives/shared-solutions-and-performance-improvement/program-management-policy-council-pmpc">Program
                  Management Policy Council</a>
              </li>
              <li class="cdo_custom_footer_links"><a href="https://www.sac.gov/">Small Agency Council</a></li>
            </ul>
            </section>

          </div>
        </nav>
      </div>
    </div>
  </div>
  <div class="usa-footer__secondary-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="usa-footer__logo grid-row mobile-lg:grid-col-9">
          <div class="mobile-lg:grid-col-2">
            {% asset logos/omb-logo.png alt="Office of Management and Budget Logo" class="usa-footer__logo-img" %}
          </div>
          <div class="mobile-lg:grid-col">
            <strong>
              Office of Management and Budget
            </strong>
          </div>
        </div>
        <div class="usa-footer__contact-links mobile-lg:grid-col-2">
          <h3 class="usa-footer__contact-heading">Contact Us</h3>
          <address class="usa-footer__address">
            <div class="usa-footer__contact-info grid-row grid-gap">
              <div class="grid-col-auto">
                <a href="mailto:cdocstaff@gsa.gov">cdocstaff@gsa.gov</a>
              </div>
            </div>
          </address>
          <div class="grid-col-auto margin-top-1">
            <a href="https://www.linkedin.com/company/federal-chief-data-officers-council/" target="_blank" title="(Opens New Window)">
              <img
              src="{{site.baseurl}}/assets/images/icons/linkedin-icon.png"
              alt="LinkedIn Icon"/>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<div id="ogp-identifier" class="usa-identifier">
  <section
    class="usa-identifier__section usa-identifier__section--masthead"
    aria-label="Agency identifier,"
  >
    <div class="usa-identifier__container">
      <div class="usa-identifier__identity" aria-label="Agency description">
        <p class="usa-identifier__identity-domain">CDO.gov</p>
        <p class="usa-identifier__identity-disclaimer">
          An official website of the Federal Government</a>
        </p>
      </div>
    </div>
  </section>
  <nav
    class="usa-identifier__section usa-identifier__section--required-links"
    aria-label="Important links,,"
  >
    <div class="usa-identifier__container">
      <ul class="usa-identifier__required-links-list">
        <li class="usa-identifier__required-links-item">
          <a href="https://www.whitehouse.gov/omb/" class="usa-identifier__required-link usa-link">About OMB</a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="https://www.gsa.gov/website-information/accessibility-aids" class="usa-identifier__required-link usa-link">Accessibility support</a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="https://www.gsa.gov/reference/freedom-of-information-act-foia" class="usa-identifier__required-link usa-link">FOIA requests</a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="https://www.gsa.gov/reference/civil-rights-programs/notification-and-federal-employee-antidiscrimination-and-retaliation-act-of-2002" class="usa-identifier__required-link usa-link">No FEAR Act data</a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="https://www.gsaig.gov/" class="usa-identifier__required-link usa-link">Office of the Inspector General</a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="https://www.gsa.gov/reference/reports/budget-performance" class="usa-identifier__required-link usa-link">Performance reports</a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="https://www.gsa.gov/website-information/website-policies" class="usa-identifier__required-link usa-link">Privacy policy</a>
        </li>
      </ul>
    </div>
  </nav>
  <section
    class="usa-identifier__section usa-identifier__section--usagov"
    aria-label="U.S. government information and services,,"
  >
    <div class="usa-identifier__container">
      <div class="usa-identifier__usagov-description">
        Looking for U.S. government information and services?
      </div>
      <a href="https://www.usa.gov/" class="usa-link">Visit USA.gov</a>
    </div>
  </section>
</div>


{% include scripts.html %}
