<footer class="usa-footer usa-footer--big">
  <div class="grid-container margin-top-2 margin-bottom-2">
    <div class="border-top-1px border-base-light margin-bottom-2"></div>
    <div class="grid-row flex-align-start flex-justify">
      <a href="#" class="usa-button usa-button--outline border-0">Return to top</a>
      {% if page.title == "Home" %}
      <div class="grid-row vaccine-container">
        <div class="vaccine-card">
          <p class="vaccine-card-content">COVID 19<br>Vaccination<br>Outreach</p>
        </div>
        <iframe src="https://www.cdc.gov/coronavirus/2019-ncov/vaccines/vaccine-finder-widget.html" scrolling="no" height="230" frameborder="0" width="280" frameborder="0" title="Vaccine Finder Widget" style="overflow: hidden;"> <!– Vaccine Finder Widget !–> </iframe> 
      </div>
      {% endif %}
    </div>
  </div>
  <div class="usa-footer__primary-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <nav class="usa-footer__nav " aria-label="Footer navigation">

          <div class=" mobile-lg:grid-col-12">
            <section class=" usa-footer__primary-content usa-footer__primary-content--collapsible">
            <h4 class="usa-footer__primary-link">Related Councils</h4>
            <ul class="usa-list usa-list--unstyled footerLinksFourColumns">
              <li class="cdo_custom_footer_links"><a href="https://www.acquisition.gov/cao-home">
                  <abbr title="Chief Acquisition Officers">CAO</abbr>
                  Council</a></li>
              <li class="cdo_custom_footer_links"><a href="https://www.chcoc.gov/">
                  <abbr title="Chief Human Capital Officers">CHCO</abbr>
                  Council</a></li>
              <li class="cdo_custom_footer_links"><a href="https://www.cio.gov/">
                  <abbr title="Chief Information Officers">CIO</abbr>
                  Council</a></li>
              <li class="cdo_custom_footer_links"><a href="https://www.cfo.gov/">
                  <abbr title="Chief Financial Officers">CFO</abbr>
                  Council</a>
              </li>
              <li class="cdo_custom_footer_links"><a
                  href="https://www.justice.gov/oip/chief-foia-officers-council">Chief <abbr title="Freedom of Information Act">FOIA</abbr> Officers Council</a></li>
              <li class="cdo_custom_footer_links">Evaluation Officers Council [website pending]
              </li>
              <li class="cdo_custom_footer_links"><a href="https://www.fpc.gov/">Federal Privacy Council</a></li>
              <li class="cdo_custom_footer_links"><a
                  href="https://www.gsa.gov/policy-regulations/policy/real-property-policy/asset-management/federal-real-property-council-frpc">Federal
                  Real Property Council</a>
              </li>
              <li class="cdo_custom_footer_links">Federal Committee on Statistical Methodology [website pending]</li>
              <li class="cdo_custom_footer_links">Interagency Council on Statistical Policy [website pending]</li>
              <li class="cdo_custom_footer_links"><a href="https://www.pic.gov/">Performance Improvement
                  Council</a>
              </li>
              <li class="cdo_custom_footer_links"><a
                  href="https://www.gsa.gov/governmentwide-initiatives/shared-solutions-and-performance-improvement/presidents-management-council-pmc">President's
                  Management Council</a>
              </li>
              <li class="cdo_custom_footer_links"><a
                  href="https://www.gsa.gov/governmentwide-initiatives/shared-solutions-and-performance-improvement/program-management-policy-council-pmpc">Program
                  Management Policy Council</a>
              </li>
              <li class="cdo_custom_footer_links"><a href="https://www.sac.gov/">Small Agency Council</a></li>
            </ul>
            </section>

          </div>
        </nav>
      </div>
    </div>
  </div>
  <div class="usa-footer__secondary-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="usa-footer__logo grid-row mobile-lg:grid-col-9">
          <div class="mobile-lg:grid-col-3">
            {% asset logos/gsa-logo.png alt="General Service Administration Logo" class="usa-footer__logo-img" %}
            {% asset logos/omb-logo.png alt="Office of Management and Budget Logo" class="usa-footer__logo-img" %}
          </div>
          <div class="mobile-lg:grid-col-5">
            <strong>
              General Services Administration &
              Office of Management and Budget
            </strong>
          </div>
        </div>
        <div class="usa-footer__contact-links mobile-lg:grid-col-2">
          <h3 class="usa-footer__contact-heading">Contact Us</h3>
          <address class="usa-footer__address">
            <div class="usa-footer__contact-info grid-row grid-gap">
              <div class="grid-col-auto">
                <a href="mailto:cdocstaff@gsa.gov">cdocstaff@gsa.gov</a>
              </div>
            </div>
          </address>
        </div>
      </div>
    </div>
  </div>
</footer>

{% include scripts.html %}
