<!--********Policies and Guidance items. Individual cards live in the in the _policies_guidance folder**************-->

<div class="tablet:grid-col-9">
    <!--<p class="filter-count card-tag margin-top-0 text-gray-50 text-thin grid-row "></p>-->
    <div class="knowledge-sharing">
        {% for item in site.policies_guidance %}
        {% if item.layout == "policies-guidance-landing" %}
        <div class="tablet:grid-col-6  grid-spacing policy {{ item.filters }}">
            <div class="bg-white padding-2 shadow-2 height-full members-hover width-card-10 radius-lg">
                {% if item.permalink %}
                <a class="no-style anchor-fill" href="{{ site.baseurl }}{{ item.permalink }}">
                    {% elsif item.doc-link %}
                    <a class="no-style anchor-fill" href="{{ site.baseurl }}{{ item.doc-link }}">
                        {% elsif item.external-url %}
                        <a class="no-style anchor-fill" href="{{ item.external-url }}">
                        {% endif %}
                        <div class="text-container height-card-lg">
                            <p class="margin-top-0"> <strong>{{ item.subtitle }}</strong></p>
                            <p class="font-sans-3xs">{{item.summary}}</p>
                            <div class="grid-row grid-gap">
                                {% assign filters = item.filters | split: ' ' %}
                                {% for filter in filters %}
                                {% capture has_link %}{% if filter contains '-' %}Yes{% else %}No{% endif %}{% endcapture%}
                                {% if has_link == 'No' %}
                                    <div class="tags">
                                        <p class="tag"><span class="tag-image"></span>
                                        {{ filter | upcase }}
                                        </p>
                                    </div>
                                {% else %}
                                    {% assign hyphen_filter = filter | split: '-' %}
                                    <div class="tags">
                                        <p class="tag"><span class="tag-image"></span>
                                        {% for second_filter in hyphen_filter %}
                                        {{ second_filter | upcase }}
                                        {% endfor %}
                                        </p>
                                    </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div></a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
