<!--***********buttons for policies guidance sharing page*********************************************-->

<div class=" tablet:grid-col-3 bg-white padding-2 shadow-2 height-full members-hover width-card-10 radius-lg margin-bottom-5">
    <a class="usa-button usa-button--base border-0 margin-bottom-2" href="{{ site.baseurl }}/guidance-and-resources/#area=*&type=*">Reset Filter</a>

    <nav id="filter" class="filters grid-row" role="list">
        <h2 class="filter-title font-sans-sm grid-col-12">Filter by Area</h2>
        <ul class="filter-list" data-filter-group="area">
            <li><a aria-label="Filter by Type: COVID-19 Data Coordination" role="checkbox" href="javascript:void(0)" data-filter=".covid-19">COVID-19 Data Coordination</a></li>
            <li><a aria-label="Filter by Type: Data Skills Development" role="checkbox" href="javascript:void(0)" data-filter=".data-skills-development">Data Skills Development</a></li>
            <li><a aria-label="Filter by Type: Federal Data Strategy" role="checkbox" href="javascript:void(0)" data-filter=".federal-data-strategy">Federal Data Strategy</a></li>
            <li><a aria-label="Filter by Type: Data Quality" role="checkbox" href="javascript:void(0)" data-filter=".data-quality">Data Quality</a></li>

        </ul>

        <h2 class="filter-title font-sans-sm grid-col-12">Filter by Type</h2>
        <ul class="filter-list" data-filter-group="type">
            <li><a aria-label="Filter by type: Executive Orders" role="checkbox" href="javascript:void(0)" data-filter=".executive-orders">Executive Orders</a></li>
            <li><a aria-label="Filter by type: Playbooks" role="checkbox" href="javascript:void(0)" data-filter=".playbooks">Playbooks</a></li>
            <li><a aria-label="Filter by type: Guidance" role="checkbox" href="javascript:void(0)" data-filter=".guidance">Guidance</a></li>
            <li><a aria-label="Filter by type: Guidance" role="checkbox" href="javascript:void(0)" data-filter=".OMB-guidance">OMB Guidance</a></li>
            <li><a aria-label="Filter by type: Training Videos" role="checkbox" href="javascript:void(0)" data-filter=".training-videos">Training Videos</a></li>
            <li><a aria-label="Filter by type: Legislation" role="checkbox" href="javascript:void(0)" data-filter=".legislation">Legislation</a></li>
            <li><a aria-label="Filter by type: Templates" role="checkbox" href="javascript:void(0)" data-filter=".templates">Templates</a></li>
        </ul>

    </nav>

</div>
