{% comment %}
Use this section to highlight key elements of your site. Some sites will only have two while others may have six to
eight.
{% endcomment %}

<div class="clearfix padding-y-4">
  {% for item in site.highlights %}
    <section class="usa-graphic-list usa-section usa-prose clearfix grid-container padding-y-105">
      <div class="clearfix shadow-5 radius-lg bg-white padding-4">
        <div class="grid-row grid-gap">
          <div class="usa-media-block tablet:grid-col">
            <img class="usa-media-block__img circle-card" alt="{{ item.headline }}"  src="{{item.image}}">
            <div class="usa-media-block__body">
              <h2>{{ item.headline }}</h3>
              <p>{{ item.content }}</p>
                <a href="#" class="usa-button usa-button--outline border-0 bg-white">Explore</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endfor %}
</div>