<section class="usa-graphic_list usa-section usa-prose clearfix bg-gray-10 padding-y-5">

    <div class="clearfix grid-container">
        <div class="shadow-5 radius-lg bg-white padding-x-10">
        <div class="grid-row">
            <h2 class="text-primary-darker header-center">Focus Areas</h2>
            <div>The CDO Council has a number of high-level focus areas, which reflect the interests and activities of the Council.  The initial list below is expected to grow as the council develops and will evolve as the needs of the CDO community change.
            </div>
        </div>
        <div class="grid-row">
            {% for icon in site.homepage_icons %}
            {% if site.number_of_icons == 4 %}
            <div class="tablet:grid-col-3 text-center margin-y-5">
                {% endif %}
                {% if site.number_of_icons == 3 %}
                <div class="tablet:grid-col-4 text-center margin-y-5">
                    {% endif %}
                    {% if icon.url %}
                    <a href="{{ site.baseurl }}{{ icon.url }}" class="text-no-underline text-gray-70" style="display: inline-block;">
                        {% else %}
                        <a href="{{ icon.link }}" class="text-no-underline" style="display: inline-block;">
                            {% endif %}
                            <div class="circle-image picons icon-back">
                                <img class="picon" src="{{site.baseurl}}{{ icon.logo }}" alt="{{ icon.name }} image" />
                            </div>
                            <p class="font-heading-md text-gray-70 text-no-underline">{{ icon.name }}</p>
                        </a>
                </div>
                {% endfor %}
            </div>
        </div>
        </div>
</section>