<section class="usa-graphic_list usa-section usa-prose clearfix bg-gray-10 padding-y-5 bg-gray-10">

    <div class="clearfix grid-container">
        <div class="shadow-5 radius-lg bg-white padding-x-10">
            <div class="grid-row margin-bottom-4">
                <h2 class="text-primary-darker header-center">Working Groups and Committees</h2>
                <div>
                    <p>The CDO Council has a number of high-level working groups and committees, which reflect the interests and activities of the Council.  The initial list below is expected to grow as the council develops and will evolve as the needs of the CDO community change.</p>
                </div>
            </div>
            {% include icons.html %}
        </div>
    </div>
</section>