<div class="padding-bottom-3 margin-top-1">

    <img class="tablet:float-left width-15 padding-right-2 padding-top-0 padding-bottom-2 margin-top-2" style="width:160px;" src="{{site.baseurl}}/assets/images/logos/cdo-logo.png" alt="CDO Logo">
    <p class="card-tag">Sample Past Event</p>
    <p class="text-primary-darker font-serif-lg text-bold">
        <a class="text-no-underline" href="">Sample CDO Past Event</a>
    </p>
    <p class="margin-top-0">This is a sample page.
      <a href="">Read more...</a>
    </p>

  </div>