<div class="event-card padding-bottom-3 margin-top-1">
  <div class="grid-row clearfix shadow-5 radius-lg bg-white padding-2">
    <div class="tablet:grid-col-5">
      <img class="padding-right-2 padding-top-0" src="{{site.baseurl}}/assets/images/events/Symposium-thumbnail.jpg"
        alt="Symposium thumbnail">
    </div>

    <div class="tablet:grid-col-7">
      <h3 class="margin-top-0 text-no-underline">
        <a class="text-no-underline cdo-link" href="{{ site.baseurl }}/2024-cdo-council-symposium/"
          style="font-family: Merriweather Web;" aria-label="2024 CDO Council Symposium">2024 CDO Council Symposium</a>
      </h3>
      <div class="text-base margin-bottom-1">
        <div class="margin-top-neg-105">
          November 21st, 2024
        </div>
      </div>
      <p class="margin-top-0">
        The CDO Council hosted its first Data Symposium on Thursday, November 21, 2024 at the GSA Headquarters Auditorium, 
        with the theme, "Data Powers Mission: Transforming Business and Mission with Data." As data is essential to every 
        government function, the Federal Chief Data Officers (CDO) Council is committed to fostering collaboration, 
        sharing best practices, and addressing federal data challenges. This fully in-person Symposium highlighted our 
        dedication to positioning data as a strategic asset and explored innovative strategies for managing and leveraging 
        data to achieve mission success across the Federal Enterprise. 
        <a href="{{ site.baseurl }}/2024-cdo-council-symposium/"
          aria-label="Find out more about 2024 CDO council symposium">Find out more</a>
      </p>
    </div>

  </div>
</div>

<div class="event-card padding-bottom-3 margin-top-1">
  <div class="grid-row clearfix shadow-5 radius-lg bg-white padding-2">
    <div class="tablet:grid-col-5">
      <img class="padding-right-2 padding-top-0"
        src="{{site.baseurl}}/assets/images/events/public-meeting-2023-thumbnail.jpg" alt="event thumbnail">
    </div>

    <div class="tablet:grid-col-7">
      <h3 class="margin-top-0 text-no-underline">
        <a class="text-no-underline cdo-link" href="{{ site.baseurl }}/public-meeting-2023/"
          style="font-family: Merriweather Web;" aria-label="CDO Council Public Meeting - 2023">CDO Council Public
          Meeting</a>
      </h3>
      <div class="text-base margin-bottom-1">
        <div class="margin-top-neg-105">
          February 10, 2023
        </div>
      </div>
      <p class="margin-top-0">The CDO Council will host a public meeting on Friday, February 10, 2023 from 1:00 PM to
        4:00 PM ET. This will be a virtual meeting. <br>The CDO Council will provide updates about its activities and
        the implementation of the Chief Data Officer role in the Federal government. The meeting will also include panel
        discussions on how CDOs are impacting their agency missions and collaborating across the government to address
        data challenges. <a href="{{ site.baseurl }}/public-meeting-2023/"
          aria-label="CDO Council Public Meeting - 2023 - Find out more">Find out more</a></p>
    </div>

  </div>
</div>

<div class="event-card padding-bottom-3 margin-top-1">
  <div class="grid-row clearfix shadow-5 radius-lg bg-white padding-2">
    <div class="tablet:grid-col-5">
      <img class="padding-right-2 padding-top-0"
        src="{{site.baseurl}}/assets/images/events/public-meeting-thumbnail-1.png" alt="event thumbnail">
    </div>

    <div class="tablet:grid-col-7">
      <h3 class="margin-top-0 text-no-underline">
        <a class="text-no-underline cdo-link" href="{{ site.baseurl }}/public-meeting/"
          style="font-family: Merriweather Web;" aria-label="CDO Council Public Meeting - 2021">CDO Council Public
          Meeting</a>
      </h3>
      <div class="text-base margin-bottom-1">
        <div class="margin-top-neg-105">
          October 14, 2021
        </div>
      </div>
      <p class="margin-top-0">The CDO Council held its public meeting on Thursday, October 14, 2021. <a
          href="{{ site.baseurl }}/public-meeting/" aria-label="CDO Council Public Meeting - 2021 - Find out more">Find
          out more</a></p>
    </div>

  </div>
</div>
