<section class="usa-graphic_list bg-gray-10 usa-section usa-prose clearfix padding-y-5">
    <div class="clearfix grid-container">
        <div class="shadow-5 radius-lg bg-white padding-x-10">
            <div class="grid-row">
                <h2 class="text-primary-darker header-center">Vision</h2>
                <div class="margin-bottom-5">The Council’s vision is to improve government mission achievement and increase the benefits to the Nation through improvement in the management, use, protection, dissemination, and generation of data in government decision-making and operations.
                </div>
            </div>
        </div>
    </div>
</section>