---
title: Guidance and Resources
description: Welcome to the Guidance and Resources page.
subtitle: Guidance and Resources
layout: defaultwithbanner
permalink: /guidance-and-resources/
description: Learn more on topics the CFOC and community are currently focused on.
keyword: CFOC, CFO Council, Policy, Guidance
sidenav: false


---
        <p class="font-sans-sm padding-top-1">The CDO Council helps connect the data community with relevant guidance and resources.  As the council develops, we expect this to increase.  If you have a repository of resources for data users, then please share it with us at cdocstaff@gsa.gov</p>

        <div class="usa-graphic-list__row grid-row grid-gap margin-top-2em">

            {% include guidance-resources-filters.html %}
            {% include guidance-resources-data.html %}

        </div>
