// Import the US Web Design System SASS.

@import "uswds";
@import "../../_sass/knowledgesharing";

// Add your SASS/CSS here
$cdoc-blue: #1CA7FC;
$cdox-logo-gray :#AFAFAF;
$cdoc-blue-50: #2378c3;

.header-center {
  margin-left: auto;
  margin-right: auto;
}

.usa-banner__button::after, .usa-banner__button[aria-expanded="true"]::after, .usa-banner__header-action::after {
  background: url(../img/chevron.svg) no-repeat center / 1.3128205128ex 0.8ex;
}

.usa-banner__button:hover::after, .usa-banner__button[aria-expanded="true"]:hover::after, .usa-banner__header-action::after{
  background-color: transparent;
}

// for lists like (A), (B), (C)...
.ol-upperCase ol { counter-reset: item }
.ol-upperCase li { display: block ; counter-increment: item; }
.ol-upperCase li:before { content: " ("counter(item,upper-alpha)") "; }

@media screen and (min-width: 640px) {
  .footerLinksFourColumns {
    columns: 4;
    -webkit-columns: 4;
    -moz-columns: 4;
  }
}

@media screen and (max-width: 640px) {
  .footerLinksFourColumns {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
  .usa-media-block {
    display: block;
  }
  .usa-banner__button[aria-expanded="true"]::after{
      background: url(../img/close-alt.svg) no-repeat center / 1rem 1rem;
  }
  .usa-banner__button::after {
    background: url(../img/chevron.svg) no-repeat center / 1.3128205128ex 0.8ex;
  }

}

// default mode hide banner
/*.usa-banner__content {
  display: none;
}*/

@media screen and (min-width: 640px) {
  .tablet\:width-1\/3 {
    width: 33%;
  }
  .tablet\:float-left {
    float: left;
  }
}

@media screen and (min-width: 640px) {
  .paginate-link {
    display: initial;
  }
  .paginate-button {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .paginate-link {
    display: none;
  }
  .paginate-button {
    display: block;
  }
}

.logoBlue{
  color: $cdoc-blue;
  font-weight: bold;
}

.logoGray{
  color: $cdox-logo-gray;
}

@media (min-width: 640px){
  .logoGray{
     font-size: 1.05rem;
  }
}

// html,p,div {
// font-family: "Public Sanas Sans"!important;
// }

abbr{
  text-decoration: none !important;
}

.abstract-background {
  background-image: url("../assets/images/background/hero.png");
  object-fit: cover;
  background-color: #000;
  background-size: 100% 100%;
}

// Homepage Focus icons

.circle-image {
  border-radius: 50%;
  background: #ff5803;
  padding: 15px;
  width: 100px;
  margin: 0 auto;

  .picon {
    color: #fff;
    margin-top:10px;
  }

}
.circle-image:hover {
  -webkit-box-shadow: 1px -1px 11px 4px rgba(0,0,0,0.47);
  -moz-box-shadow: 1px -1px 11px 4px rgba(0,0,0,0.47);
  box-shadow: 1px -1px 11px 4px rgba(0,0,0,0.47);
}

.cdo_custom_footer_links{
  padding-top: 0rem ; 
  padding-bottom: 1rem; 
  line-height: 1.1;
  margin-left: 1rem;
}

/*.usa-button {
  background-color: $cdoc-blue;

  &.bg-white {
    background-color: #fff;
  }
}*/

#main-content{
  background-color: #fefefe;
}
.abstract-background .usa-button--outline{
  box-shadow: inset 0 0 0 0px #005ea2;
}
.abstract-background .usa-button--outline:hover, .abstract-background .usa-button--outline.usa-button--hover {
  background-color: #fff;
  box-shadow: inset 0 0 0 0px #1a4480;
  color: #1a4480; 
}

.title {
  margin-top: .75rem;
}
.bg-gradient{
  background: rgb(19,38,139);
  /*background: linear-gradient(52deg, rgba(19,38,139,1) 0%, rgba(15,34,121,1) 49%, rgba(10,30,104,1) 58%, rgba(6,26,90,1) 67%, rgba(1,21,74,0.9794292717086834) 74%, rgba(0,20,70,1) 100%);*/
  background: linear-gradient(52deg, #162e51 0%, #005ea2 100%);

}

// Leadership Block styling
.section__title {
  border-top: 1px solid $color-gray-30;
}


.container__leadership {
  .border-1px {
    border-color: $color-gray-warm-10;
  }

  .card__leadership {

    @media screen and (max-width: 640px) {
      margin-bottom: 2rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .left {
    width: 30%;
    float: left;
    height: 135px;

    &.card__image--seal {
      height: 115px;
    }

    img {
      width: 130px;
      max-width: 100%;

      &.card__image--seal {
        height: 82px;
        width: auto;
      }
    }
  }

  .right {
    width: 70%;
    height: 135px;
    float: right;
  }

  .name {
    font-weight: bold;
  }

  .title, .role, .council {
    font-size: 13px;
    display: block;
  }

  .role {
    font-style: italic;
  }

  .title {
    margin-top: .75rem;
  }

  // Exec Committee styles
  .usa-list--unstyled {
    text-indent: -1em;
    padding-left: 1em;
    height: 7.5em;

    @media screen and (min-width: 640px) and (max-width: 768px) {
      height: 10em;
    }

    > li:first-child {
      margin-top: 0;
    }

    > li {
      margin-top: .25em;
    }
  }

} // end exec member styles

.card__members {
  .right,
  .left {
    height: 115px;
  }
}

// Images
@media screen and (max-width: 768px) {
  img {
    max-width: 50%;
  }
}
