// Import the US Web Design System SASS.

@import "uswds";
@import "../../_sass/knowledgesharing";

// Add your SASS/CSS here
$cdoc-blue: #1CA7FC;
$cdox-logo-gray :#AFAFAF;
$cdoc-blue-50: #2378c3;

.header-center {
  margin-left: auto;
  margin-right: auto;
}

.usa-banner__button::after, .usa-banner__button[aria-expanded="true"]::after, .usa-banner__header-action::after {
  background: url(../img/chevron.svg) no-repeat center / 1.3128205128ex 0.8ex;
}

.usa-banner__button:hover::after, .usa-banner__button[aria-expanded="true"]:hover::after, .usa-banner__header-action::after{
  background-color: transparent;
}

// for lists like (A), (B), (C)...
.ol-upperCase ol { counter-reset: item }
.ol-upperCase li { display: block ; counter-increment: item; }
.ol-upperCase li:before { content: " ("counter(item,upper-alpha)") "; }

.cdo-logo{
  height:2.2em;
}

@media screen and (min-width: 640px) {
  .footerLinksFourColumns {
    columns: 4;
    -webkit-columns: 4;
    -moz-columns: 4;
  }

}

@media screen and (max-width: 640px) {
  .footerLinksFourColumns {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
  .usa-media-block {
    display: block;
  }
  .usa-banner__button[aria-expanded="true"]::after{
      background: url(../img/close-alt.svg) no-repeat center / 1rem 1rem;
  }
  .usa-banner__button::after {
    background: url(../img/chevron.svg) no-repeat center / 1.3128205128ex 0.8ex;
  }

}
@media screen and (max-width: 768px) {

}
// default mode hide banner
/*.usa-banner__content {
  display: none;
}*/

@media screen and (min-width: 640px) {
  .tablet\:width-1\/3 {
    width: 33%;
  }
  .tablet\:float-left {
    float: left;
  }
}

@media screen and (min-width: 640px) {
  .paginate-link {
    display: initial;
  }
  .paginate-button {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .paginate-link {
    display: none;
  }
  .paginate-button {
    display: block;
  }
}

.logoBlue{
  color: $cdoc-blue;
  font-weight: bold;
}

.logoGray{
  color: $cdox-logo-gray;
}

@media (min-width: 640px){
  .logoGray{
     font-size: 1.05rem;
  }
}

// html,p,div {
// font-family: "Public Sanas Sans"!important;
// }

abbr{
  text-decoration: none !important;
}

.abstract-background {
  background-image: url("../assets/images/background/hero-new.jpg");
  object-fit: cover;
  background-color: #000;
  background-size: cover;
  background-position: 0 30px;
}

// Homepage Focus icons

.working-group__icon-col {
  position: relative;
  box-sizing: border-box;
  @media screen and (min-width: 860px) {
    flex: 0 1 auto;
    width: 12%;
  }
  width: 100%;
}

.circle-image--top {
  border-radius: 50%;
  background: #00bde3;
  padding: 15px;
  width: 100px;
  margin: 0 auto;
  .picon--top {
    color: #fff;
    margin-top:10px;
    max-width: 75%;
    width: 3em;
  }
}

.circle-image {
    border-radius: 50%;
    background: #00bde3;
    padding: 20px;
    width: 100px;
    margin: 0 auto;

  .picon {
    color: #fff;
    margin-top:10px;
    max-width: 75%;
    width: 3.25em;
  }
}
.circle-image:hover {
  -webkit-box-shadow: 1px -1px 11px 4px rgba(0,0,0,0.47);
  -moz-box-shadow: 1px -1px 11px 4px rgba(0,0,0,0.47);
  box-shadow: 1px -1px 11px 4px rgba(0,0,0,0.47);
}

.cdo_custom_footer_links{
  padding-top: 0.5rem ; 
  padding-bottom: 1.25rem;
  line-height: 1.1;
  margin-left: 0;
}

/*.usa-button {
  background-color: $cdoc-blue;

  &.bg-white {
    background-color: #fff;
  }
}*/

#main-content{
  background-color: #fefefe;
}
.abstract-background .usa-button--outline{
  box-shadow: inset 0 0 0 0px #005ea2;
}
.abstract-background .usa-button--outline:hover, .abstract-background .usa-button--outline.usa-button--hover {
  background-color: #fff;
  box-shadow: inset 0 0 0 0px #1a4480;
  color: #1a4480; 
}

.title {
  margin-top: .75rem;
}
.bg-gradient{
  background: rgb(19,38,139);
  /*background: linear-gradient(52deg, rgba(19,38,139,1) 0%, rgba(15,34,121,1) 49%, rgba(10,30,104,1) 58%, rgba(6,26,90,1) 67%, rgba(1,21,74,0.9794292717086834) 74%, rgba(0,20,70,1) 100%);*/
  background: linear-gradient(52deg, #162e51 0%, #005ea2 100%);

}

// Leadership Block styling
.section__title {
  border-top: 1px solid $color-gray-30;
}


.container__leadership {
  .border-1px {
    border-color: $color-gray-warm-10;
  }

  .card__leadership {

    @media screen and (max-width: 640px) {
      margin-bottom: 2rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .left {
    width: 30%;
    float: left;
    height: 135px;

    &.card__image--seal {
      height: 115px;
    }

    img {
      width: 130px;
      max-width: 100%;

      &.card__image--seal {
        width: auto;
      }
    }
  }

  .right {
    width: 70%;
    float: right;
  }

  .name {
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.2;
    display: block;
  }

  .title, .role, .council {
    font-size: 13px;
    display: block;
  }

  .role {
    font-style: italic;
  }

  .title {
    margin-top: .75rem;
  }

  // Exec Committee styles
  .usa-list--unstyled {
    text-indent: -1em;
    padding-left: 1em;
    height: 7.5em;

    @media screen and (min-width: 640px) and (max-width: 768px) {
      height: 10em;
    }

    > li:first-child {
      margin-top: 0;
    }

    > li {
      margin-top: .25em;
    }
  }

} // end exec member styles

// focus area pages (now known as working groups)
.upper-fold-box {
  background-color: white;
  min-height: 17.25em;
  border-radius: 5px;
  padding: 0.75em 1.25rem;
  & ul {
    list-style: none;
    padding-left: 1em;
    & li {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
  }
  @media screen and (min-width:641px) and (max-width: 770px) {
    top: -2.5em;
    position: absolute;
    margin-left: 1.25em;
    box-shadow: 0 0.5rem 1rem 0 #71767a61;
  }
  @media screen and (min-width:771px) {
    top: -4em;
    position: absolute;
    margin-left: 1.25em;
    box-shadow: 0 0.5rem 1rem 0 #71767a61;
  }
}
  
.flex-row-reverse {
  flex-direction: row-reverse;
}

.grid-row__workinggroup {
  margin: 0 auto;
  max-width: 64em;
  padding-left: 2rem;
  padding-right: 2rem;
  & h2, h3, h4 {
    font-family: Merriweather Web, Georgia, Cambria, Times New Roman, Times, serif;
  }
  & section {
    margin-bottom: 2rem;
    & li {
      margin-top: 1rem;
    }
  }
}

.card__image-workinggroup {
  max-width: 100%;
}

.usa-accordion__content {
  background-color: transparent;
}

.usa-accordion__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
 /* &:hover {
    background-color: #eafaff;
  }*/
}

.usa-accordion--bordered .usa-accordion__content {
  border-bottom: 0.25rem solid #e1f3f8;
  border-left: 0.25rem solid #e1f3f8;
  border-right: 0.25rem solid #e1f3f8;
  padding-bottom: 1rem;
}

.usa-accordion__heading {
  font-size: 1.17em;
}

img.workinggroup-icon {
  vertical-align: sub;
  margin-right: 0.25em;
}

img.workinggroup__accordion-icon {
  width: 1.5rem;
  margin-right: 0.75em;
}

//end

ul.filter-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  & .filter-list__item a {
    display: block;
    padding: 0.5em 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    font-size: 80%;
    border: solid 1px gray;
    color: #333;
    text-decoration: none;
    background: white;
    &:hover {
      background: #f7f7f7;
    }
  }
}

.filter-list__item a.checked {
  background-color: #005EA2 !important;
  border: none !important;
  color: white !important;
}

.filters a.usa-button {
  color: white;
}

.usa-card__container {
  border-top: 0.25rem solid #005EA2;
  border-bottom: 1px solid #dfe1e2;
  border-left: 1px solid #dfe1e2;
  border-right: 1px solid #dfe1e2;
  .usa-card__body {
    li {
      margin-top: 0.5em;
    }
  }
}

.story-card-group .usa-card__container {
  @media screen and (min-width: 685px) {
    min-height: 23em;
  }
}

// Images
@media screen and (max-width: 768px) {
  img {
    max-width: 50%;
  }
}

.card-tag {
  font-size: .9rem;
  margin-top: .2em;
  margin-bottom: .15em;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #323a45;
}

.tag {
    font-size: 13px;
    background: #eee;
    border-radius: 3px 0 0 3px;
    color: #333;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 5px;
    position: relative;
    margin: 5px 10px 10px 5px;
    text-decoration: none;
    -webkit-transition: color 0.2s;
}
.tags {
    list-style: none;
    display: inline;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
/*.tag::before {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
  background-image: url("/assets/images/background/tags-solid.png");
}*/
.tag img{
  width: 12px;
  vertical-align: middle;
  margin-right: 2px;
}
.tag::after {
    background: #fff;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #eee;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
}

.post-card {
  width: 10rem;
  height: 10rem;
  margin-right: 1.5rem;
}

.active-button {
  background-color: #005ea2;
  color: #000000;
}

.cdo-link {
  color: #005ea2;
}
.tag-image {
  background: url("../assets/images/background/tags-solid.png") no-repeat;
  width: 16px;
  height: 16px;
  background-size: 16px 16px;
  display: inline-block;
  vertical-align: middle;
}

.vaccine-card {
  height: 230px;
  width: 280px;
  background-color: #ede8e7;
  padding: 1.5rem 4rem;
  margin-right: 5px;
}

.vaccine-card-content {
  color: #2d57b7;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  line-height: 1.3;
  font-family: ui-sans-serif;
  letter-spacing: 2px;
}

@media screen and (max-width: 745px) {

  .vaccine-container {
    margin-top: 10px;
    align-items: center;
    justify-content: center;
  }

  .vaccine-card {
    margin-right: unset;
  }
}

// Public Meeting Event Page

.meeting-detail {
  padding: 0 3rem;

  &__name {
    font-size: 30px;
    color: #005ea2;
    font-weight: bold;
  }
  

  &__date {
    font-size: 26px;
    color: grey;
    margin-bottom: 2rem;
  }

  @media screen and (max-width: 768px) {
    &__name {
      font-size: 20px;
    }

    &__date {
      font-size: 17px;
    }
  }

  &__button--ext {
    background: url("../assets/images/events/open-icon.png") 3px center no-repeat;
    width: 13px;
    height: 10px;
    padding-right: 20px;
    text-decoration: none;
  }
}

.meeting-description {
  h2 {
    color: #005ea2;
  }
  img {
    float: left;
    position: relative;
    top: 17px;
    padding-right: 15px;
  }
}

// event landing page
@media screen and (max-width: 768px) {
  .event-card img {
    max-width: 100%;
  }
}

.meeting-icon {
  width: 50px;
}

.usa-summary-box {
  border: 1px solid #97D4EA;
  padding: 30px;
  background: #E7F6F8;
}

//Footer Identifier 
#ogp-identifier.usa-identifier {
    font-family: Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-size: 1.06rem;
    line-height: 1.3;
    color: white;
    background-color: #1b1b1b;
    padding-bottom: 1rem;
  

  .usa-identifier__container {
    margin-left: auto;
    margin-right: auto;
    max-width: 64rem;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 64rem
  }

  @media all and (min-width: 64em) {
    .usa-identifier__container {
        padding-left:2rem;
        padding-right: 2rem
    }
  }

  .usa-identifier__section {
    padding-bottom: 1rem;
    padding-top: 1rem
  }

  @media all and (min-width: 40em) {
    .usa-identifier__section--masthead .usa-identifier__container {
        align-items:center;
        display: flex
    }
  }

  .usa-identifier__logos {
    display: flex;
    margin-right: 1rem
  }

  .usa-identifier__logo {
    text-decoration: none;
    height: 3rem;
    display: block
  }

  .usa-identifier__logo+.usa-identifier__logo {
    margin-left: 0.5rem
  }

  .usa-identifier__logo-img {
    height: 100%;
    width: auto
  }

  .usa-identifier__identity {
    flex: 1 1 0%;
    margin-top: 1rem
  }

  @media all and (min-width: 40em) {
    .usa-identifier__identity {
        margin-top:0
    }
  }

  .usa-identifier__identity-domain,.usa-identifier__identity-disclaimer {
    margin: 0;
    padding: 0
  }

  .usa-identifier__identity-domain {
    color: #a9aeb1
  }

  .usa-identifier__identity-disclaimer {
    font-weight: 700
  }

  .usa-identifier__identity-disclaimer a {
    color: #dfe1e2
  }

  .usa-identifier__identity-disclaimer a:visited {
    color: #dfe1e2
  }

  .usa-identifier__identity-disclaimer a:hover,.usa-identifier__identity-disclaimer a:active {
    color: #f0f0f0
  }

  @media all and (min-width: 40em) {
    .usa-identifier__section--required-links {
        padding-bottom:0.5rem;
        padding-top: 0.5rem
    }
  }

  @media all and (min-width: 64em) {
    .usa-identifier__section--required-links {
        font-size:1rem
    }
  }

  .usa-identifier__required-links-list {
    margin-bottom: 0;
    margin-top: 0;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0
  }

  @media all and (min-width: 40em) {
    .usa-identifier__required-links-list {
        -moz-column-count:2;
        column-count: 2;
        -moz-column-gap: 2rem;
        column-gap: 2rem;
        -moz-column-fill: balance;
        column-fill: balance
    }
  }

  @media all and (min-width: 64em) {
    .usa-identifier__required-links-list {
        -moz-column-count:4;
        column-count: 4
    }
  }

  .usa-identifier__required-links-item {
    -moz-column-break-inside: avoid;
    break-inside: avoid;
    margin-bottom: 0.75rem
  }

  .usa-identifier__required-links-item:last-child {
    margin-bottom: 0
  }

  @media all and (min-width: 64em) {
    .usa-identifier__required-links-item {
        margin-bottom:0.5rem
    }
  }

  .usa-identifier__required-link {
    color: #a9aeb1;
    display: inline-block
  }

  .usa-identifier__required-link:visited {
    color: #a9aeb1
  }

  .usa-identifier__required-link:hover,.usa-identifier__required-link:active {
    color: #dfe1e2
  }

  .usa-identifier__section--usagov a {
    color: #dfe1e2;
    font-weight: 700;
    display: inline-block;
    margin-top: 0.5rem
  }

  .usa-identifier__section--usagov a:visited {
    color: #dfe1e2
  }

  .usa-identifier__section--usagov a:hover,.usa-identifier__section--usagov a:active {
    color: #f0f0f0
  }

  @media all and (min-width: 40em) {
    .usa-identifier__section--usagov a {
        margin-top:0
    }
  }

  @media all and (min-width: 40em) {
    .usa-identifier__usagov-description {
        display:inline-flex
    }
  }
}

// //navbar arrow
// .nav-link-arrow span::after {
//   background: url(../img/usa-icons/expand_more.svg) no-repeat center/contain !important;
// }