---
---
.carousel-container {
  max-width: 100%;

}


.carousel {
  position: relative;
  width: 100%;
  padding-top: 28rem;
  overflow: hidden;
}

.carousel-container img {
  max-width: 25vw; 
  width: auto; 
  height: auto; 
  object-fit: contain; 
  overflow: hidden; 
  position: relative; 
}


.left-arrow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
  width: 25%
}

.grid-gap-banner{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.left-arrow:hover {
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
}

.left-arrow:hover .chevron,
.right-arrow:hover .chevron {
  border-color: #e6e6e6;
}

.right-arrow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  height: 100%;
  width: 25%;
  cursor: pointer;
}

.right-arrow:hover {
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
}

.chevron {
  width: 25px;
  height: 25px;
  border: solid rgba(255, 255, 255, 0.5);
  border-width: 10px 10px 0 0;
}

.chevron.right {
  transform: rotate(45deg);
}

.chevron.left {
  transform: rotate(-135deg);
}

.circle-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: start;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2rem;
}

.circle {
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
}

.pauseicon{
    position:relative;
    margin-top: -2px;
    border-right:13px solid #fff;
    height: 8px;
    flex: 0 1 auto;
    margin-right: 3px;
    margin-left: 3px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
}

.playicon{
    position:relative;
    margin-top: -2px;
    border-right:13px solid #fff;
    height: 22px;
    flex: 0 1 auto;
    margin-right: 3px;
    margin-left: 3px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
}

.circle-fill {
  background-color: white;
}

.text-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  bottom: 45px;
  left: 0;
  width: 100%;
  color: white;
  text-shadow: 1px 1px black;
  text-align: center;
}

.text-container p:nth-child(1) {
  margin: 10px 100px;
  font-size: 1.5em;
}

.text-container p:nth-child(2) {
  margin: 10px 100px 20px 100px;
}

.carousel-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wide-content-box {
  max-width: 24rem !important;
}

.carousel-content-box {
  background: #cfe8ff;
  border-radius: 0.5rem;
  opacity: 0.9;
  margin-top: 10px;
  box-shadow: 0 1rem 2rem 0 RGB(0 0 0 / 40%);
  max-width: 20rem;
}

.abstract-background2 {
    background-image: url(../images/background/podcast.png);
    background-color: #172636;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}



.abstract-background3{
  background-image: url(../images/background/hero-5-former.png);
  background-color: #172636;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.abstract-background4{
  background-image: url(../images/background/awards-program-hero.jpg);
  background-color: #172636;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.abstract-background1{
  background-image: url(../images/background/year-in-review-carousel.png);
  background-color: #172636;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.abstract-background-meeting-2023{
  background-image: url(../images/background/hero-publick-meeting-2023.jpg);
  background-color: #172636;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.abstract-background-review-2023{
  background-image: url(../images/background/year-in-review-banner.jpg);
  background-color: #172636;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.abstract-background-federal-data-trust{
  background-image: url(../images/background/cdo_federal_zero_trust.png);
  background-color: #172636;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}



.abstract-background-review-2024{
  background-image: url(../images/background/year-review-2024-carousel.jpg);
  background-color: #172636;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.abstract-background-cdoc-symposium{
  background-image: url(../images/background/cdoc-symposium-carousel.jpg);
  background-color: #172636;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.abstract-background-fairness-project{
  background-image: url(../images/background/fairness-project-carousel.jpg);
  background-color: #172636;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

@media screen and (min-width: 1271px) and (max-width: 1440px) {
  .abstract-background-review-2023 {
    background-image: url(../images/background/year-in-review-banner-laptop.jpg);
  }
}

@media screen and (min-width: 838px) and (max-width: 1270px) {
  .abstract-background-review-2023 {
    background-image: url(../images/background/year-in-review-banner-tablet.jpg);
  }
}

@media screen and (max-width: 837px) {
  .abstract-background-review-2023 {
    background-image: url(../images/background/year-in-review-banner-mobile.jpg);
  }
}


.abstract-background-value-impact{
  background-image: url(../images/background/hero-banner-impact.jpg);
  background-color: #172636;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.abstract-background-brain{
  background-image: url(../images/background/brain-bg.jpg);
  background-color: #172636;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}


/* Animations */
@keyframes toRight {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

@keyframes toLeft {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

@keyframes comeRight {
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}

@keyframes comeLeft {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

@media screen and (max-width: 1480px) and (min-width: 1270px) {
.left-arrow {
width: 20%;
}

}

@media screen and (max-width: 1270px) and (min-width: 1140px) {
.grid-gap-banner {
    padding-left: 7.5rem;
    padding-right: 8.5rem;
}

}

@media screen and (max-width: 1139px)  {
   .grid-gap-banner {
       padding-left: 4.5rem;
       padding-right: 4.5rem;
   }

   .left-arrow {
   width: 14%;
   }

   .right-arrow {
   width: 10%;
   }
   }


@media screen and (max-width: 687px) and (min-width: 580px)  {
.carousel {
padding-top: 28rem;
}
}

@media screen and (max-width: 580px) and (min-width: 462px)  {
.carousel {
padding-top: 35rem;
}
}


@media screen and (max-width: 508px)  {
.grid-gap-banner {
    padding-left: 2.5rem;
    padding-right: 1.5rem;
}
.carousel {
padding-top: 29rem;
}
}


.awards-abstract-background1 {
    background-image: url("../images/background/DISTINGUISHED-ACHIEVEMENT-IN-FEDERAL-DATA-2024.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.awards-abstract-background2 {
    background-image: url("../images/background/DISTINGUISHED-FEDERAL-DATA-INNOVATOR-AWARD-2024.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.awards-abstract-background3 {
    background-image: url("../images/background/EXCELLENCE-IN-DATA-GOVERNANCE-2024.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.awards-abstract-background4 {
    background-image: url("../images/background/DATA-CHAMPION-OF-THE-YEAR-2024.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.awards-abstract-background5 {
    background-image: url("../images/background/TEAM-OF-THE-YEAR-2024.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 1200px) {
    .awards-abstract-background1 {
        background-image: url("../images/background/DISTINGUISHED-ACHIEVEMENT-IN-FEDERAL-DATA-2024-mobile.png");
    }
    .awards-abstract-background2 {
        background-image: url("../images/background/DISTINGUISHED-FEDERAL-DATA-INNOVATOR-AWARD-2024-mobile.png");
    }
    .awards-abstract-background3 {
        background-image: url("../images/background/EXCELLENCE-IN-DATA-GOVERNANCE-2024-mobile.png");
    }
    .awards-abstract-background4 {
        background-image: url("../images/background/DATA-CHAMPION-OF-THE-YEAR-2024-mobile.png");
    }
    .awards-abstract-background5 {
        background-image: url("../images/background/TEAM-OF-THE-YEAR-2024-mobile.png");
    }
    .abstract-background-meeting-2023 {
        background-image: url(../images/background/hero-publick-meeting-2023-mobile.jpg);
    }
    .abstract-background1 {
        background-image: url(../images/background/year-in-review-carousel-mobile.png);
    }
}

@media screen and (max-width: 640px) {
    .carousel-padding {
        padding-top: 20rem !important;
    }
}

@media screen and (min-width: 1900px) {
    .carousel-padding {
        padding-top: 30rem !important;
    }
}

.text-center{
    text-align:center;
}

@media screen and (max-width: 640px) {
    .usa-hero__heading {
        margin-top: -10px;
        line-height: 1;
    }
}
